body{
    margin: 0px;
}

.container{
    height: 100vh;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.header{
    display: flex;
    height: 15%;
    width: 100%;
    background: silver;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 2.5em;
}

.content{
    width: 50%;
    height: 70%;
    background: white;
    display: flex;
    flex-direction: column;
}

.my_list{
    display: flex;
    height: 15%;
    width: 100%;
    background: silver;
    align-self:flex-start;
}

.list{
    width: 100%;
    height: 85%;
}